@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #072635;
}

body {
  background-color: #f6f7f8;
  opacity: 1;
}

nav, main {
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* Navbar */

.navbar {
  width: 1564px;
  height: 72px;
  background-color: #ffffff;
  border-radius: 70px;
  opacity: 1;
  align-items: center;
  padding: 12px 32px;
}

.logo {
  width: 211px;
  height: 48px;
}

.menu {
  width: 663px;
  align-items: center;
}

main,
.menu li {
  display: flex;
  justify-content: space-between;
}

.menu li img {
  height: 17px;
  width: auto;
  margin-right: 9px;
}

.menu li p,
.name,
.left-aside div h2 {
  font-family: Manrope;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0px;
  color: #072635;
}

.menu li:nth-child(2) {
  background-color: #01f0d0;
  border-radius: 41px;
  padding: 11px 16px;
}

.account {
  align-items: center;
  width: 241px;
}

.account-name {
  border-right: 0.5px solid rgb(228, 225, 225);
  padding-right: 10px;
}

.designation {
  color: #707070;
}

main {
  width: 1564px;
}

/* Left sidebar */

.left-aside {
  width: 367px;
  max-height: 1054px;
  background-color: #ffffff;
  border-radius: 16px;
  margin-top: 32px;
  overflow-y: scroll;
}

.left-aside div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-aside div h2 {
  font-size: 24px;
  font-weight: 800;
}

.left-aside ul {
  list-style-type: none;
}

.left-aside ul li {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.left-aside ul li:nth-child(4) {
  background-color: #d8fcf7;
}

.left-aside ul li div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
  padding: 0;
}

.left-aside ul li div div {
  flex-direction: column;
  gap: 5px;
}

.left-aside ul li div img {
  width: 18px;
}

/* Middle section */

.middle-section {
  flex-direction: column;
  font-family: Manrope;
  font-size: 14px;
  letter-spacing: 0px;
  color: #072635;
}

.middle-section h2 {
  font-size: 24px;
  font-weight: 800;
}

.diagnosis,
.diagnostic-list {
  width: 766px;
  height: 673px;
  background-color: #ffffff;
  border-radius: 16px;
  margin-top: 32px;
  padding: 20px;
  font-family: Manrope;
  color: #072635;
}

.bp-info {
  width: 726px;
  height: 298px;
  background-color: #f4f0fe;
  border-radius: 12px;
  margin-top: 40px;
  padding: 16px;
}

.chart-title h3 {
  font-size: 18px;
  font-weight: 800;
}

.chart-title div img {
  margin-left: 16px;
  margin-right: 30px;
}

.chart-title div {
  margin-top: 5px;
}

#bpChart {
  width: 480px !important;
  height: 230px !important;
  margin-top: 20px;
}

.bp-details {
  width: 190px;
}

.bp-details img {
  width: 10px;
  margin-right: 8px;
  padding-bottom: 2px;
}

.bp-measure {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bp-measure h4 {
  font-size: 14px;
  font-weight: 800;
  padding-bottom: 2px;
}

.systolic {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
}

.diastolic {
  padding-top: 15px;
}

.systolic p,
.diastolic p {
  font-size: 22px;
  font-weight: 800;
  margin: 6px 0px;
}

.pink,
.violet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.pink {
  background-color: #e66fd2;
}

.violet {
  background-color: #8c6fe6;
}

.chart-info {
  margin-top: 20px;
  font-family: Manrope;
  color: #072635;
}

.resp-info,
.temp-info,
.heart-info {
  width: 228px;
  height: 242px;
  border-radius: 12px;
  padding: 16px;
}

.resp-info {
  background-color: #e0f3fa;
}

.temp-info {
  background-color: #ffe6e9;
}

.heart-info {
  background-color: #ffe6f1;
}

.resp-info h3,
.temp-info h3,
.heart-info h3 {
  font-size: 16px;
  margin-top: 16px;
}

.resp-info p,
.temp-info p,
.heart-info p {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 17px;
}

.arrow-down {
  margin: 0 8px 2px 0;
}

.diagnostic-list {
  height: 349px;
}

.diagnostic-list table {
  margin-top: 40px;
  width: 726px;
  border-spacing: 0;
}

.diagnostic-list table thead {
  display: block;
  width: 726px;
}

.diagnostic-list table thead tr th {
  background-color: #f6f7f8;
  height: 48px;
  text-align: left;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 67px;
}

.diagnostic-list table thead tr th:nth-child(1) {
  border-radius: 24px 0 0 24px;
}

.diagnostic-list table thead tr th:nth-child(3) {
  border-radius: 0 24px 24px 0;
}

.diagnostic-list table tbody tr {
  height: 59px;
  font-size: 14px;
  width: 100%;
}

.diagnostic-list table tbody tr td:nth-child(1),
.diagnostic-list table tbody tr td:nth-child(2) {
  padding-left: 16px;
}

.diagnostic-list table tbody {
  display: block;
  height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}

/* Right sidebar */

.right-aside {
  flex-direction: column;
  margin-top: 18px;
}

.profile-details {
  width: 367px;
  height: 740px;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 32px 20px;
}

.profile-pic {
  width: 200px;
  margin: 0 auto;
}

.profile-details h2 {
  text-align: center;
  font-family: Manrope;
  font-weight: 800;
  font-size: 24px;
  color: #072635;
  margin-top: 24px;
}

.profile-details ul {
  list-style-type: none;
  margin-top: 32px;
}

.profile-details ul li {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 60px;
}

.profile-details ul li div p {
  font-size: 14px;
  font-family: Manrope;
  color: #072635;
}

.profile-details ul li div p:nth-child(2) {
  font-weight: 800;
}

.info-button {
  margin: 40px auto 0;
  width: 220px;
  height: 41px;
  background-color: #01f0d0;
  border-radius: 41px;
  color: #072635;
  font-weight: 700;
  font-size: 14px;
  border: none;
}

.lab-results {
  width: 367px;
  height: 296px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
}

.lab-results ul {
  list-style-type: none;
  margin-top: 16px;
  max-height: 200px;
  overflow-y: scroll;
}

.lab-results ul li {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 11px 16px;
}

.lab-results ul li:nth-child(2) {
  background-color: #f6f7f8;
}

.lab-results ul li p,
.lab-results h2 {
  font-size: 14px;
  font-family: Manrope;
  color: #072635;
}

.lab-results ul li img {
  width: 20px;
}

.lab-results h2 {
  font-size: 24px;
  font-weight: 800;
}
